{% extends 'layout.html' %}

{% block body %}

<section class="page">
  <div class="content">
    <div class="wrapper">
      <div class="stuff">
        <div class="top">
          <div class="basic">
            <div class="label-cont">
              {% if beer.beer_label_hd|length %}
              <img class="label" src="{{beer.beer_label_hd}}" alt="Image not found">
              {% else %}
              <img class="label" src="{{beer.beer_label}}" alt="Image not found">
              {% endif %}
            </div>
            <div class="name">
              <h1>{{beer.beer_name}}</h1>
              <a class="brewery" href="/brewery/{{brewery.brewery_id}}">
                {{brewery.brewery_name}}
              </a>
              <p class="style">{{beer.beer_style}}</p>
            </div>
          </div>
          <div class="stats">
            <p>
              <span class="stat">Total</span>
              <span class="count">{{beer.stats.total_count}}</span>
            </p>
            <hr>
            <p><span class="stat">Monthly</span>
              <span class="count">{{beer.stats.monthly_count}}</span>
            </p>

          </div>
        </div>
        <div class="details">
          <p class="abv">{{beer.beer_abv}}% ABV</p>
          <p class="rating" id="rating">{{beer.rating_score}}</p>
          <p class="raters">{{beer.rating_count}} Ratings</p>
          <p class="date" id="date">{{beer.created_at}}</p>
        </div>
        <div class="bottom">
          <p>{{beer.beer_description}}</p>
        </div>
      </div>
    </div>
    <div class="carousel">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for item in info %}
            <li class="glide__slide"><img class="photo" src="{{item.photo.photo_img_md}}" alt=""></li>
            {% endfor %}
          </ul>
        </div>
        <!-- <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
      </svg></button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
      <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
    </svg></button> -->
  </div>
</div>
<div class="activity-cont">
    <h1>Recent Activity</h1>
    <hr>
    {% for checkin in checkins %}
    <div class="checkin">
      <div class="checkin-content">
        <div class="avatar">
          <a href="#">
            <img class="avatar-img"src="{{checkin.user.user_avatar}}" alt="">
          </a>
        </div>
        <div class="checkin-text">
          <p>{{checkin.user.first_name}} {{checkin.user.last_name}} is drinking  <a href="/beer/{{beer.bid}}">{{beer.beer_name}}</a> by <a href="/brewery/{{beer.brewery.brewery_id}}">{{brewery.brewery_name}}</a>
            {% if checkin.venue.venue_name|length %}
              at <a class="checkin-venue" href="/venue/{{checkin.venue.venue_id}}">
                {{checkin.venue.venue_name}}
              </a>
            {% else %}

            {% endif %}
          </p>
          <div class="checkin-details">

            <p class="checkin-rating">Rating:      {{checkin.rating_score}}/5</p>
          </div>
          <div class="checkin-date">
            <p>{{checkin.created_at[:16]}}</p>
          </div>
        </div>
        <div class="checkin-label">
          <img class="label" src="{{beer.beer_label}}" alt="Label not found">
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
</section>

<script type="text/javascript">

  var myDate = new Date(document.getElementById("date").innerHTML);

  document.getElementById("date").innerHTML = myDate.getDate() + "/" + (myDate.getMonth()+ 1) + "/" + + myDate.getFullYear();

  var num = document.getElementById("rating").innerHTML;
  int = parseFloat(num)
  var n = int.toFixed(2);
  document.getElementById("rating").innerHTML = n + "/5";

</script>

<script src="{{url_for('static', filename='glide/dist/glide.min.js')}}"></script>

<script>
  var input = 2000

  var glide = new Glide('.glide', {
    bound: true,
    autoplay: input,
    hoverpause: true,
    perView: 3
  })

  glide.mount()
</script>

{% endblock %}












<!-- <ul>
{% for n in info %}
{% for venue in n.venue %}
{% for i in venue.location %}
<li>{{venue.location.lat}}{{venue.location.lng}}</li>
{% endfor %}
{% endfor %}
{% endfor %}
</ul> -->
