{% extends 'layout.html' %}

{% block body %}

<div class="content">
  <div class="home-page">
    <div class="header-text">
      <p style="font-size:1.25em;">Beer Pressure is powered by the Untappd api. Here you can view the popualr beers in your area, breweries and venues around the world where people are drinking the same beers as you.</p>
      <hr>
      <h1 style="margin:0;">Popular beers in your area</h1>
    </div>
    <div class="col">
      {% for beer in beers %}
        <div class="col-item">
          <img class="home-image" src="{{beer.beer.beer_label}}" alt="">
          <div class="home-basic">
            <a href="/beer/{{beer.beer.bid}}">
              <p class="beer-name">{{beer.beer.beer_name}}</p>
            </a>
            <a href="/brewery/{{beer.brewery.brewery_id}}">
              <p class="home-brewery">{{beer.brewery.brewery_name}}</p>
            </a>
            <p class="home-style">{{beer.beer.beer_style}}</p>
          </div>
          <!-- <div class="home-details">
            <p class="home-abv">{{beer.beer.beer_abv}}% ABV</p>
          </div> -->
        </div>
      {% endfor %}
    </div>
    <!-- <div class="col2">
      <p>Popular beers in your area</p>
      <hr>
      {% for i in pubs %}
        <div class="pub">
          <a href="/beer/{{i.beer.bid}}"><img class="pub-image"src="{{i.beer.beer_label}}" alt=""></a>
          <a class="pub-text" href="/beer/{{i.beer.bid}}">{{i.beer.beer_name}}</a>
        </div>
      {% endfor %}
    </div> -->
  </div>
</div>

{% endblock %}
