{% extends 'layout.html' %}

{% block body %}

<section class="page">
  <div class="content">
    <div class="wrapper">
      <div class="stuff">
        <div class="top">
          <div class="basic">
            <div class="label-cont">
              {% if venue.venue.venue_icon.lg|length %}
              <img class="label" src="{{venue.venue.venue_icon.lg}}" alt="Image not found">
              {% else %}
              <img class="label" src="{{url_for('static', filename='images/pint.png')}}" alt="Image not found">
              {% endif %}
            </div>
            <div class="name">
              <h1>{{venue.venue.venue_name}}</h1>
              <p class="location">
              <img class="location-pointer" src="{{url_for('static', filename='images/maps-and-flags.png')}}" alt="">
              <a href="https://www.google.com/maps/search/?api=1&query={{venue.venue.location.venue_address}}+{{venue.venue.venue_name}}" target="_blank">{{venue.venue.location.venue_address}} | {{venue.venue.location.venue_city}}</a></p>
            </div>
          </div>
          <div class="stats">
            <p>
              <span class="stat">Total</span>
              <span class="count">{{venue.venue.stats.total_count}}</span>
            </p>
            <hr>
            <p><span class="stat">Monthly</span>
              <span class="count">{{venue.venue.stats.monthly_count}}</span>
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="contact">
            {% for i in venue.venue.contact %}
            {% if i == "twitter" %}
            <a href="https://twitter.com/{{venue.venue.contact.twitter}}">
              <img class="contact-icon" src="{{url_for('static', filename='images/twitter.png')}}" alt="">
            </a>
            {% elif i == "facebook" %}
            <a href="{{venue.venue.contact.facebook}}">
              <img class="contact-icon" src="{{url_for('static', filename='images/facebook.png')}}" alt="">
            </a>
            {% elif i == "url" %}
            <a class="link" href="{{venue.venue.contact.url}}">
              <img class="contact-icon" src="{{url_for('static', filename='images/link.png')}}" alt="">
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <div class="carousel">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for checkin in checkins %}
            <li class="glide__slide"><img class="photo" src="{{checkin.photo.photo_img_md}}" alt=""></li>
            {% endfor %}
          </ul>
        </div>
        <!-- <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
      </svg></button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
      <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
    </svg></button> -->
  </div>
</div>

<div class="popular-cont">
    {% for i in popular %}
    <div class="pop-holder">
      <img class="popular" src="{{i.beer.beer_label}}" alt="">
      <div class="pop-details">
        <a href="/beer/{{i.beer.bid}}">{{i.beer.beer_name}}</a>
        <a href="/brewery/{{i.brewery.brewery_id}}">{{i.brewery.brewery_name}}</a>
      </div>
    </div>
    {% endfor %}
</div>

<div class="activity-cont">
  <h1>Recent Activity</h1>
    <hr>
    {% for checkin in checkins %}
    <div class="checkin">
      <div class="checkin-content">
        <div class="avatar">
          <a href="#">
            <img class="avatar-img"src="{{checkin.user.user_avatar}}" alt="">
          </a>
        </div>
        <div class="checkin-text">
          <p>{{checkin.user.first_name}} {{checkin.user.last_name}} is drinking  <a href="/beer/{{checkin.beer.bid}}">{{checkin.beer.beer_name}}</a> by <a href="/brewery/{{checkin.brewery.brewery_id}}">{{checkin.brewery.brewery_name}}</a>
            {% if checkin.venue.venue_name|length %}
              at <a class="checkin-venue" href="/venue/{{checkin.venue.venue_id}}">
                {{checkin.venue.venue_name}}
              </a>
            {% else %}

            {% endif %}
          </p>
          <div class="checkin-date">
            <p>{{checkin.created_at[:16]}}</p>
          </div>
        </div>
        <div class="checkin-label">
          <img class="label" src="{{checkin.beer.beer_label}}" alt="Label not found">
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</section>


<script type="text/javascript">
  var num = document.getElementById("rating").innerHTML;
  int = parseFloat(num)
  var n = int.toFixed(2);
  document.getElementById("rating").innerHTML = n + "/5";
</script>

<script src="{{url_for('static', filename='glide/dist/glide.min.js')}}"></script>

<script>
  var input = 2000

  var glide = new Glide('.glide', {
    bound: true,
    autoplay: input,
    hoverpause: true,
    perView: 3
  })

  glide.mount()
</script>

{% endblock %}
